body {
	font-family: Helvetica;
	font-size: 1.3em;
}

p {
	padding-bottom: 10px;
}

code {
	background-color: #A9A9A9;
	color: #411987;
	font-family: Monaco;
	font-size: 0.7em;
	padding: 20px;
}

.person-card {
	background-color: #D3D3D3;
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	width: 60%;
}